.inquiries
  .new
    .buffer
      %h1 Contact Emily
    .ribbon.blue.thin
    
    .third.grid
      
      .column.double
        .buffer.top.left
          .grey.wrapper.left-text
            %h2 Consultation
            %p 
              Whether you're looking for custom calligraphy
              or font work, drop me a line.
            %p
            = render 'shared/form_errors', item: @inquiry
            = form_for @inquiry do |f|
              = f.label :name, 'Name:'
              = f.text_field :name
              = f.label :email, 'E-mail Address:'
              = f.text_field :email
              = f.label :message, 'Message:'
              = f.text_area :message
              = f.submit "SEND", class: 'submit pull-right'
              .clear
      
      .column
        .buffer.top.right
          .grey.wrapper.left-text
            %h2 Contact
            %table
              %body
                %tr
                  %td.left Email:
                  %td.right= mail_to 'emily@fixitwithcode.com', 'emily@fixitwithcode.com'
                %tr
                  %td.left Phone:
                  %td.right= link_to '(872) 216-8247', "tel:#{18722168247}"
                %tr
                  %td.left Residence:
                  %td.right New York, NY
                  
            
            %h3 Profiles
            .pull-left
              = link_to image_tag('twitter.png', class: 'no-frills', size: '50x50'), 'http://www.twitter.com/emilyellison986'
              = link_to image_tag('linkedin.png', class: 'no-frills', size: '50x50'), 'http://www.linkedin.com/in/emilyellison986'
              = link_to image_tag('github.png', class: 'no-frills', size: '50x50'), 'http://www.github.com/emilyellison986'
            .clear
      .clear
      