!!! html5
%html
  %head
    %title Writ
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    %link{ href: 'http://fonts.googleapis.com/css?family=Sofia', rel: 'stylesheet', type: 'text/css' }
    %link{ href: 'http://fonts.googleapis.com/css?family=Quando', rel: 'stylesheet', type: 'text/css' }    
    
  %body
    - [:success, :notice, :error, :alert].each do |type|        
      - if flash[type].present?
        %div{ class: "flash #{type}" }
          .container= flash[type]

    %header
      .container
        = link_to "WRIT", root_path, class: 'brand'
        %ul
          %li= link_to "Gallery", pieces_path
          %li= link_to "Contact", new_inquiry_path
        .clear
          
    .container
      .content        
        = yield
    
    %footer
      .container
        .pull-right
          %iframe{ src: 'http://ghbtns.com/github-btn.html?user=emilyellison986&type=follow', allowtransparency: 'true', frameborder: 0, scrolling: 0, width: 160, height: 20 }
          = link_to 'Follow @emilyellison986', 'https://twitter.com/emilyellison986', class: 'twitter-follow-button', 'data-show-count' => 'false', 'data-show-screen-name' => 'false'
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>     
        .clear